button{
  width:200px;
  height:50px;
  margin-top: 200px;
}
#playbutton{
  background-color:#f4511e;
  color: #fff;
}
.well{
  border-style: ridge;
  box-shadow: 5px 8px 10px #00acc1;
}
#title{
  text-align: center;
  font-size: 55pt;
  color: #fff;
}
img{
  height: 130px;
  width:130px;
}
body{
  background-color: #000;
}
.jumbotron{
  background-color: #000;
  border-radius: 16px;
  box-shadow: 5px 8px 10px #00acc1;
}
