button{
  width:200px;
  height:50px;
  margin-top: 200px;
  width: 62px;
  height: 62px;
  background: #f48fb1;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 16px;
  margin-left: 40%;
  margin-top: 20%;
}
.buttons{
  background-color:#f8bbd0;
  color: #fff;
  margin-top: 15px;
  margin-left: 20%;
}
.well{
  border-style: ridge;
  box-shadow: 5px 8px 10px #00acc1;
}
#title{
  text-align: center;
  font-size: 55pt;
  color: #000;
  font-weight: bolder;
  font-style: oblique;
}
img{
  height: 130px;
  width:130px;
}
body{
  background-color: #000;
}
.jumbotron{
  background-color: #000;
  border-radius: 16px;
  box-shadow: 5px 8px 10px #00acc1;
  background-image: url("https://media1.tenor.com/images/c0ae5cdc014e75b7b67823dd8db70f7e/tenor.gif?itemid=8474306");
  opacity: 0.7;
}

.p2{
display: none;
}
.size{
  width: 250px;
  margin: 20px auto;
  height: 40px;
}
.color{
  color: #fff;
  font-size: 30px;
  font-family: cursive;
}
#start{
  margin-left: 130px;
  margin-top: 20px;
}
#playbutton2, #hold2{
  display: none;
}
